:root {
  margin: 10px auto;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:#ACC8E5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 428px;
}

.restart {
  text-align: center;
  padding: 15px;
}

.turn-display {
      font-size: 23px;
      grid-column: 1 / 4;
      text-align: center;
      width: 200px;
      height: 50px;
      align-items: center;
      border: 3px ridge whitesmoke;
      margin: 0px auto;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  // 3 equal columns
  width: 350px;
  height: 350px;
  // justify-content: center;
  // align-items: center;
  margin: 10px auto;
  // border-radius: 30%;
  // gap: 5px;
  // padding: 0px;
  // border: 1px solid red;

    &__tile {
      aspect-ratio: 1 / 1; //
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: white;
      color: black;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      box-sizing: border-box;
      border-right: 5px solid yellow;
      border-bottom: 5px solid yellow;
      // padding-top: 48px;

      &--norborder {
        border-right: none;
      }
      &--nobborder {
        border-bottom: none;
      }
    }
    
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  margin-top: 10px;

  
  font-weight: bold;
  border: 3px ridge whitesmoke;

  h2 {
    text-decoration: underline;
  }

  &__tally {
    display: flex;
  }


  &__player {
    margin: auto 10px;
  }
}